<div style="text-align: center;">
   <div style="display: inline;"> 
      <a href="http://sgi.transelec.cl/" target="_blank"><img src="/PublishingImages/iconGestionDoc.png" border="0" alt=""/> </a></div>
   <div style="margin: 0px 7px; display: inline;"> 
      <a href="http://sgi.transelec.cl/_layouts/15/TRANSELEC.SGIBIBLIO/aphome.aspx" target="_blank">
         <img src="/PublishingImages/iconTomaCono.png" border="0" alt=""/></a> </div>
   <div style="display: inline;">
      <a href="/_layouts/15/Imagen.Transelec.SGITools.Desviacion/apHome.aspx" target="_blank"> 
         <img src="/PublishingImages/iconSgiTools.png" border="0" alt=""/></a> </div>
</div>

<script type="text/script">

$('menu_id').hide();
</script>